table.target {
    border-collapse: collapse;
}
table.target tr th {
    text-align: center;
    border: 3px solid;
    width: 50px;
    height: 50px;
}
table.target.play tr.row td.answer {
    vertical-align: middle;
}
table.target.play tr td.col.answer {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    padding: 10px;
}
#header h1 {
    float: left;
}
#header #user {
    float: right;
    vertical-align: top;
}
#header #user img {
    padding: 0 10px;
}